@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */

    margin-left: 8vw;
    margin-right: 8vw;

    color: white;
    font-family: Rubik, sans-serif;
}

#title {
    text-align: center;
    font-size: 5.5vw;
    color: #00c8ff;
    font-weight: bold;
    text-shadow: -0.2vw -0.2vw 0 #000096,
        0.2vw -0.2vw 0 #000096,
        -0.2vw 0.2vw 0 #000096,
        0.2vw 0.2vw 0 #000096;
}

.heading {
    text-align: center;
    font-weight: bold;
    color: #00c8ff;
    font-size: 32pt;
    text-shadow: -2px -2px 0 #000096,
        2px -2px 0 #000096,
        -2px 2px 0 #000096,
        2px 2px 0 #000096;
}

.subheading {
    text-align: center;
    font-weight: bold;
    color: paleturquoise;
    text-shadow: -2px -2px 0 darkslateblue,
        2px -2px 0 darkslateblue,
        -2px 2px 0 darkslateblue,
        2px 2px 0 darkslateblue;
}

@media only screen and (max-width: 1020px) {
    #title {
        font-size: 42pt;
        text-shadow: -2px -2px 0 #000096,
            2px -2px 0 #000096,
            -2px 2px 0 #000096,
            2px 2px 0 #000096;
    }
}

p {
    text-align: justify;
    word-wrap: break-word;
}

.black-outline {
    text-shadow: -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.btn-text {
    color: white;
    font-size: x-large;
    margin: 1px;
    margin-bottom: 4px;
}

.customContainer {
    display: flex;
    align-items: center;
    justify-content: center
}

.generalText {
    word-wrap: break-word;
    font-size: 14pt
}

.projectImages {
    width: 75%;
}

.favouriteStuffImages {
    width: 60%;
}

/* @media only screen and (max-width: 460px) {
    .favouriteStuffImages {
        width: 100%;
    }
} */

#aboutMeImgFullWidth {
    content: url('./assets/fullbody.png');
    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

@media only screen and (max-width: 1200px) {
    #aboutMeImgFullWidth {
        display: none;
    }
}

#aboutMeImgLowWidth {
    content: url('./assets/square-pfp.png');
    width: 50%;
}

@media only screen and (min-width: 1201px) {
    #aboutMeImgLowWidth {
        display: none;
    }

    #aboutMeText {
        padding-right: 20px;
    }
}
